.container {
  padding: 0px 10px;
}

.room-title {
  padding-top: 20px;
  font-size: 28px;
  margin-bottom: 20px;
}

#add-room-btn{
  padding: 10px 15px;
  font-weight: 700;
  border: 1px solid #000;
  background-color: var(--main-button-background-color);
  margin-bottom: 50px;
}

.room-container {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.room {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

.active-users {
  text-align: left;
  font-size: 14px;
  margin-bottom: 40px;
}

.room-name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.3em;
  white-space: nowrap;
}

.join-btn {
  padding: 10px 15px;
  font-weight: 700;
  border: 1px solid #000;
  background-color: var(--main-button-background-color);
  border-radius: 10px;
}

.game-container {
  padding: 20px 20px 50px;
  height: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
  -moz-column-gap: 30px;
  column-gap: 30px;
  overflow: hidden;
}
.room-info {
  display: grid;
  grid-template-rows: auto auto 1fr;
  overflow: hidden;
}
.room-info .room-name {
  margin-bottom: 20px;
}

#quit-room-btn {
  padding: 10px 15px;
  font-weight: 700;
  border: 1px solid #000;
  background-color: var(--main-button-background-color);
  margin-bottom: 50px;
  border-radius: 10px;
}

.room-users {
  overflow: auto;
}

.game-board {
  padding: 30px 10px 10px;
  height: 100%;
  border: 1px solid #000;
  position: relative;
}

#ready-btn,
#notready-btn {
  font-size: 24px;
  padding: 20px 25px;
  font-weight: 700;
  border: 1px solid #000;
  background-color: var(--main-button-background-color);
}

.user {
  font-weight: 700;
  padding: 10px;
  margin-bottom: 10px;
}

.user-info {
  margin-bottom: 10px;
  align-items: center;
}

.ready-status {
  flex: 0 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 15px;
}

.ready-status-red {
  background-color: red;
}

.ready-status-green {
  background-color: green;
}

.username {
  flex: 1 1 auto;
}

.username.active::after {
  content: "(you)";
  font-size: 12px;
  font-weight: 400;
  margin-left: 10px;
}

.user-progress-indicator {
  border: 2px solid #000;
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.user-progress {
  height: 100%;
  background-color: rgb(69, 219, 24);
  width: 0;
}

.user-progress.finished{
    background-color: rgb(0, 255, 157);
}

#timer {
  font-size: 28px;
  font-weight: 700;
}

#gameTimer {
  font-size: 12px;
  font-style: italic;
  position: absolute;
  top: 5px;
  right: 0;
  margin-right: 10px;
}

#text-container{
  max-width: 500px;
  white-space: break-spaces;
}

.game-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(104, 104, 104, 0.315);
}

.game-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 10px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.game-modal-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
}

.game-users-table {
  font-weight: 700;
}

.user-position{
  margin-bottom: 10px;
}

.inputed-text{
  background-color: rgb(69, 219, 24);
}

.next-symbol{
  border-bottom: 2px solid #000;
}